header
    .ui.fixed.main.menu.pop.inverted        
        .header.item
          .ui.horizontal.list
            .item.logo-header
              | 金山街違建
            .item
              #pop-icon 火
        a.item(href="/")
          | 你住到違建了嗎?
        a.item(href="#request")
          | 服務目標
        a.item(href="#area")
          | 違建地圖

