extends layouts/default

block content
    section.page.header-page
      .text-vertical-center
          h1 金山街違建地圖

    section#case.page.case-page
      .text-vertical-center.padding
        .ui.three.column.grid
            .row
              .column
                  h4 <strong>62</strong>公頃<br>
                  p 台北市十年間賣掉
              .column
                  h4 <strong>3</strong>公頃<br>
                  p 至今被劃入都市更新
              .column
                  h4 <strong>3</strong>公頃<br>
                  p 至今被 BOT
            .row
              .column
                  .case-info
                      img(src="images/case.01.jpg")
                      p <strong>台北市大安區信義聯勤俱樂部</strong>
                        | 標售給新光人壽再賣給元利建設，蓋兩棟31、35層豪宅
              .column
                  .case-info
                      img(src="images/case.02.jpg")
                      p <strong>文萌樓都市更新案</strong>
                        | 近698坪公有土地被劃入更新，卻不受國有財產法500坪禁售限制
              .column
                  .case-info
                      img(src="images/case.03.jpg")
                      p <strong>遠雄大巨蛋</strong>
                        | BOT 的過程與週邊環境衝擊持續爭議中
    section#request.request-page.page  
      .text-vertical-center
        h1 服務目標
        .request-content
          .ui.list
            .item
              .content
                i.comment.icon
                | 標示違建地點＆種類 
            .item 
              .content
                i.comment.icon
                | 現況更新及拆除進度追蹤
            .item 
              .content
                i.comment.icon
                | 租屋者, 住戶資訊交流及互助
          .ui.header
            | 邀請您共同關注
          a.circular.ui.icon.button(href="https://www.facebook.com/POPonFire")
            i.icon.unhide
            | 關注
    section#area.area-page.page
      .text-vertical-center
        h1
          | 違建搜查 <span class="beta-font">&beta;</span>      
   
        .area-param
          .ui.selection.dropdown.choice-block
            .default.text
              | 樓層
            i.dropdown.icon
            .menu
              a.item(data-value='')
                | 全部
              a.item(data-value='6')
                | 6
              a.item(data-value='7')
                 | 7
              a.item(data-value='8')
                 | 8
              a.item(data-value='9')
                 | 9
              a.item(data-value='10')
                 | 10樓以上
          .ui.selection.dropdown.choice-area
            .default.text
              | 有無外推
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部          
              a.item(data-value="NO")
                | 無
              a.item(data-value="YES")
                | 有 
          .ui.selection.dropdown.choice-unit
            .default.text
              | 經營單位
            i.dropdown.icon
            .menu  
              a.item(data-value='')
                | 全部
          //.ui.input.focus.input-address
              //input#input-address(placeholder="地址..." type="text")
        h3
            i.data-description.info.link.icon(data-title="資料特性說明",data-content="1. 公有土地。<br/>2. 位在可建築分區。<br/>3. 該土地無建築物登記，例如預計開發的空軍總部舊址有建築物登記，就未顯示於本次資料。<br/>4. 土地面積單位為平方公尺。<br/>5. 國有財產法 53 條明訂 500坪 (1650平方公尺) 以上非公用公有土地禁止標售。<br/>6. 正在進行「都市更新」的公有土地，特別以「紅色」表示。",data-variation="large")
    section#map.map-page.page
      #map-loading.ui.dimmer
        .ui.medium.text.loader
          | 正在產生地圖
      #map-canvas
